<div class="container-sm w-25 p-4">
    <h1 class="mb-4 text-center">Edit Inventory</h1>
    <form action="/api/inventory/edit" method="post">
        <div class="form-group mb-2">
            <label for="inv-id">Inventory ID</label>
            <input type="text" class="form-control" id="inv-id" aria-describedby="inv-id" value="{{data.id}}" name='id'
                readonly="readonly">
        </div>
        <div class="form-group mb-2">
            <label for="inv-name">Inventory Name</label>
            <input name='name' type="text" class="form-control" id="inv-name" aria-describedby="inv-name"
                value="{{data.name}}" placeholder="Enter Inventory Name" required>
        </div>
        <div class="form-group mb-2">
            <label for="inv-quantity">Quantity</label>
            <input name='quantity' type="number" class="form-control" id="inv-quantity" aria-describedby="inv-quantity"
                value="{{data.quantity}}" placeholder="Enter Inventory Quantity" required min="0" max="99999">
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary  ">Update Inventory</button>
            <a href="/" class="btn btn-danger  ">Cancel</a>
        </div>
    </form>
</div>